*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 24rem;
}

.header{
    font-size: 6.25rem;
}

.value{
    font-size: 6rem;
}

button{
    padding: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
}